@model AirTravels.ViewModels.EditPassangerViewModel


<form method="post" asp-action="Edit">
    <div class="form-group">
        <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
        <label for="exampleInputEmail1">Текущая фамилия</label>
        <label for="exampleInputEmail1">@Model.SecondName</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Фамилия</label>
        <input asp-for="SecondName" class="form-control" placeholder="Фамилия">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Текущее имя</label>
        <label for="exampleInputEmail1">@Model.FirstName</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Фамилия</label>
        <input asp-for="FirstName" class="form-control" placeholder="Имя">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Текущее Отчество</label>
        <label for="exampleInputEmail1">@Model.ThirdName</label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Фамилия</label>
        <input asp-for="ThirdName" class="form-control" placeholder="Отчество">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
