@model IEnumerable<AirTravels.ViewModels.AllPassangerViewModel>

<ul class="list-group">
    @foreach (var passanger in Model)
    {
        <div class="container">
            <label>
                @if (@passanger.Document.Number != string.Empty)
                {
                    @passanger.Id @passanger.SecondName @passanger.FirstName @passanger.ThirdName @passanger.Document.Number @passanger.DocumentType.Type
                }
                else
                {
                    @passanger.Id @passanger.SecondName @passanger.FirstName @passanger.ThirdName <h1>отсутствует документ отсутствует тип документа</h1>
                }
            </label>
            <div>
                <form method="post" asp-action="Delete">
                    <button type="submit" class="btn btn-secondary" name="Id" value="@passanger.Id">delete</button>
                </form>
                <form method="get" asp-action="Edit">
                    <button type="submit" class="btn btn-secondary" name="Id" value="@passanger.Id">edit</button>
                </form>
            </div>
        </div>
    }
</ul>